@import url(/css/normalize.css);@import url(/css/fonts.css);@charset "UTF-8";
/**
* Entry.css
*
* @author mzhou / @zhoumm
* @version 1.5
*/
/* ===========================================================
   Config
   =========================================================== */
/* typekit, mac, windows, linux, default */
/* ==========================================================
   Optional config
   ========================================================== */
/* ==========================================================================
   Entry content
   ========================================================================== */
html, body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, "PingFang SC", Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, "Apple TP", sans-serif;
  font-style: normal; }

html, body {
  margin: 0;
  padding: 0;
  transition-duration: .15s;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }
  html.sliding, body.sliding {
    overflow-y: hidden; }
    html.sliding .cover-shelt, body.sliding .cover-shelt {
      display: block; }

.cover-shelt {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.4);
  display: none; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

a, a:hover {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: inherit; }

a.link {
  transition: 0.3s ease-in;
  color: #D8D8D8; }
  a.link:hover {
    color: #2F8ED8; }

hr {
  border: none;
  border-top: 1px solid; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 500; }

.wlog-app-header {
  display: none;
  height: 60px;
  z-index: 5; }

button {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer; }

.wlog-app-nav {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  border-right: 1px solid #D8D8D8;
  box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.1); }
  .wlog-app-nav .app-nav__inner {
    display: flex;
    flex-direction: column;
    padding: 0 32px; }
  .wlog-app-nav .app-nav__item {
    display: flex;
    flex: auto; }
  .wlog-app-nav .item__content {
    width: 100%; }
  .wlog-app-nav .nav-item__top {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #D8D8D8; }
    .wlog-app-nav .nav-item__top .avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 1.5px solid #D8D8D8;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 12px;
      overflow: hidden; }
      .wlog-app-nav .nav-item__top .avatar img {
        width: 56px;
        height: 56px; }
    .wlog-app-nav .nav-item__top .web-name {
      margin-bottom: 10px;
      text-align: center; }
      .wlog-app-nav .nav-item__top .web-name .name {
        display: inline;
        font-size: 28px;
        color: #4A4A4A;
        line-height: 2; }
      .wlog-app-nav .nav-item__top .web-name a.link {
        font-size: 1.25rem;
        margin-left: 8px; }
    .wlog-app-nav .nav-item__top p {
      font-weight: 300;
      font-size: 1.125rem;
      color: #4A4A4A;
      line-height: 1.5;
      text-align: center; }
  .wlog-app-nav .nav-item__middle {
    margin-bottom: 24px; }
    .wlog-app-nav .nav-item__middle li {
      width: 100%;
      padding: 10px 0;
      text-align: center;
      position: relative; }
      .wlog-app-nav .nav-item__middle li a {
        font-weight: 300;
        font-size: 1.25rem;
        color: #666666;
        text-align: center; }
      .wlog-app-nav .nav-item__middle li.active a, .wlog-app-nav .nav-item__middle li:hover a {
        color: #2F8ED8; }
  .wlog-app-nav .nav-item__bottom ul {
    display: flex;
    width: 100%;
    justify-content: center; }
    .wlog-app-nav .nav-item__bottom ul li {
      width: 32px;
      height: 32px;
      margin: 0 8px;
      align-items: center;
      justify-content: center;
      display: flex; }
  .wlog-app-nav .nav-item__bottom a.link {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: flex; }
    .wlog-app-nav .nav-item__bottom a.link i {
      font-size: 1.25rem; }

.wlog-app-body {
  display: block;
  margin-left: 300px;
  background: rgba(0, 0, 0, 0.04); }

.wlog-body__inner {
  max-width: 860px;
  margin: 0 auto;
  padding: 50px 0; }
  .wlog-body__inner .wlog-page-name {
    font-size: 1.8rem;
    font-family: monospace;
    line-height: 1.4;
    color: #1E2432;
    margin-bottom: 32px;
    letter-spacing: 1px; }

.wlog-body__content {
  border-bottom: 2spx solid #D8D8D8;
  margin-bottom: 55px; }
  .wlog-body__content .wlog-body-article {
    height: 25vh;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; }
    .wlog-body__content .wlog-body-article:hover {
      box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4); }
      .wlog-body__content .wlog-body-article:hover a {
        background: rgba(0, 0, 0, 0.5); }
      .wlog-body__content .wlog-body-article:hover .article-content .title {
        color: #2F8ED8; }
    .wlog-body__content .wlog-body-article:last-of-type {
      margin-bottom: 0; }
    .wlog-body__content .wlog-body-article a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 100%;
      width: 100%;
      height: 100%;
      position: relative;
      background: rgba(0, 0, 0, 0.2); }
    .wlog-body__content .wlog-body-article .article-thumb {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .wlog-body__content .wlog-body-article .article-content {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center; }
      .wlog-body__content .wlog-body-article .article-content .date {
        font-size: 0.75rem;
        color: #FFF; }
      .wlog-body__content .wlog-body-article .article-content .title {
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 1.8;
        color: #FFF; }
      .wlog-body__content .wlog-body-article .article-content .sum {
        font-size: 0.875rem;
        line-height: 1;
        color: #FFF; }

.wlog-paginate {
  margin-bottom: 48px; }
  .wlog-paginate .wlog-paginate__inner {
    display: flex; }
    .wlog-paginate .wlog-paginate__inner .wlog-page-item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem; }
    .wlog-paginate .wlog-paginate__inner .wlog-page-button {
      border-radius: 0.75rem;
      border: 1px solid #D8D8D8;
      color: #4A4A4A;
      padding: 8px 12px;
      background-color: #FFF;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.08); }
      .wlog-paginate .wlog-paginate__inner .wlog-page-button:hover {
        box-shadow: rgba(0, 0, 0, 0.08) 2px 2px 8px 2px; }
    .wlog-paginate .wlog-paginate__inner .wlog-page-number {
      margin: 0 1rem; }

.wlog-archive__paginate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px; }
  .wlog-archive__paginate .page-button {
    display: inline-flex;
    font-size: 0.875rem;
    padding: 9px 16px;
    border-radius: 0.875rem;
    background-color: #FFF;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #4A4A4A; }
    .wlog-archive__paginate .page-button i {
      margin: 0 6px;
      font-size: 12px;
      position: relative;
      top: 2px; }
    .wlog-archive__paginate .page-button:hover {
      color: #2F8ED8;
      box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1); }

.footer {
  background: #FFF; }
  .footer .footer__top {
    display: flex;
    justify-content: flex-end;
    padding: 14px 16px;
    border-top: 1px solid #D8D8D8;
    border-bottom: 0.5px solid #D8D8D8;
    color: #D8D8D8;
    font-size: 0.875rem;
    font-weight: 500; }
    .footer .footer__top a {
      display: inline-flex;
      margin-left: 16px; }
      .footer .footer__top a:hover {
        color: #2F8ED8; }
      .footer .footer__top a:first-child {
        margin-left: 0; }
  .footer .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px; }
    .footer .footer__bottom p {
      margin: 0 2px; }
    .footer .footer__bottom i {
      color: #F46660; }
    .footer .footer__bottom a {
      color: #F46660; }
    .footer .footer__bottom p.str {
      font-weight: 700;
      font-size: 1.125rem;
      color: #D8D8D8;
      font-family: monospace; }
      .footer .footer__bottom p.str:hover {
        color: #1E2432; }

.wlog-post__nav {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 2%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background: linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  display: flex;
  align-items: center; }
  .wlog-post__nav .home {
    display: flex;
    position: relative;
    align-items: center; }
    .wlog-post__nav .home .logo {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.8); }
      .wlog-post__nav .home .logo img {
        max-width: 100%;
        border-radius: 50%; }
    .wlog-post__nav .home a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }

.wlog-post__thumbnail {
  position: relative;
  overflow: hidden;
  padding-bottom: 400px;
  margin-bottom: 24px; }
  .wlog-post__thumbnail .thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0; }

.wlog-post__info {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px; }
  .wlog-post__info .post-info__content {
    display: flex;
    flex: 100%;
    justify-content: space-between;
    margin-bottom: 6px; }
    .wlog-post__info .post-info__content span {
      display: inline-flex; }
    .wlog-post__info .post-info__content .date {
      font-size: 1rem;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.2);
      float: left; }
    .wlog-post__info .post-info__content .tag {
      font-size: 1.125rem; }
      .wlog-post__info .post-info__content .tag a {
        font-size: inherit;
        font-weight: 500;
        font-style: italic;
        color: rgba(0, 0, 0, 0.2); }
        .wlog-post__info .post-info__content .tag a:hover {
          color: #2F8ED8; }
  .wlog-post__info h1.post-title {
    font-size: 2rem;
    line-height: 1.25;
    color: #1E2432;
    margin-bottom: 6px; }
  .wlog-post__info p.post-description {
    font-size: 1.25rem;
    font-weight: 200;
    color: #4A4A4A; }

.wlog-post__adv {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px; }

.wlog-recommend-post {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 20px;
  padding-bottom: 20px; }
  .wlog-recommend-post .recommend-post__content {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px; }
  .wlog-recommend-post a .tag {
    display: block;
    font-weight: 500;
    font-size: 0.875rem;
    color: #4A4A4A; }
  .wlog-recommend-post a .title {
    display: block;
    color: #1E2432;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5; }
  .wlog-recommend-post a .des {
    display: block;
    color: #4A4A4A;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.2px; }
  .wlog-recommend-post a:hover .title {
    color: #2F8ED8; }

.wlog-post__comments {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1.5px solid rgba(0, 0, 0, 0.08);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.03); }
  .wlog-post__comments .disqus {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px; }

.wlog-post__footer .footer__top {
  background: #FFF; }
  .wlog-post__footer .footer__top .foot-link:hover {
    color: #2F8ED8; }

.wlog-post__body {
  margin-top: 3rem;
  margin-bottom: 1.5rem; }
  .wlog-post__body .post-body__content {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px; }

/*! github-markdown-css | The MIT License (MIT) | Copyright (c) Sindre Sorhus <sindresorhus@gmail.com> (sindresorhus.com) | https://github.com/sindresorhus/github-markdown-css */
.wlog-md-body.entry {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 684px;
  padding: 0 18px;
  line-height: 1.62;
  color: #424b50;
  word-wrap: break-word;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, "PingFang SC", Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, "Apple TP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* ==========
       Typography
       ========== */
  /* === 块元素 === */
  /* === 行内元素 === */
  /* 强调 */
  /* code */
  /* image & video */
  /* 书名号(han.css) */
  /* 缩写 */
  /* 定义 */
  /* 标记 */
  /* 行内引用 */
  /* 旁注 */
  /* 上下标 */
  /* disqus支持 */ }
  .wlog-md-body.entry div, .wlog-md-body.entry p, .wlog-md-body.entry blockquote, .wlog-md-body.entry pre,
  .wlog-md-body.entry ul, .wlog-md-body.entry ol, .wlog-md-body.entry table, .wlog-md-body.entry figure,
  .wlog-md-body.entry section, .wlog-md-body.entry article, .wlog-md-body.entry header, .wlog-md-body.entry footer {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px; }
    .wlog-md-body.entry div:first-child, .wlog-md-body.entry p:first-child, .wlog-md-body.entry blockquote:first-child, .wlog-md-body.entry pre:first-child,
    .wlog-md-body.entry ul:first-child, .wlog-md-body.entry ol:first-child, .wlog-md-body.entry table:first-child, .wlog-md-body.entry figure:first-child,
    .wlog-md-body.entry section:first-child, .wlog-md-body.entry article:first-child, .wlog-md-body.entry header:first-child, .wlog-md-body.entry footer:first-child {
      margin-top: 0; }
    .wlog-md-body.entry div:last-child, .wlog-md-body.entry p:last-child, .wlog-md-body.entry blockquote:last-child, .wlog-md-body.entry pre:last-child,
    .wlog-md-body.entry ul:last-child, .wlog-md-body.entry ol:last-child, .wlog-md-body.entry table:last-child, .wlog-md-body.entry figure:last-child,
    .wlog-md-body.entry section:last-child, .wlog-md-body.entry article:last-child, .wlog-md-body.entry header:last-child, .wlog-md-body.entry footer:last-child {
      margin-bottom: 0; }
  .wlog-md-body.entry ul div, .wlog-md-body.entry ul p, .wlog-md-body.entry ul blockquote, .wlog-md-body.entry ul pre,
  .wlog-md-body.entry ul ul, .wlog-md-body.entry ul ol, .wlog-md-body.entry ul table, .wlog-md-body.entry ul figure,
  .wlog-md-body.entry ul iframe,
  .wlog-md-body.entry ul section, .wlog-md-body.entry ul article, .wlog-md-body.entry ul header, .wlog-md-body.entry ul footer, .wlog-md-body.entry ol div, .wlog-md-body.entry ol p, .wlog-md-body.entry ol blockquote, .wlog-md-body.entry ol pre,
  .wlog-md-body.entry ol ul, .wlog-md-body.entry ol ol, .wlog-md-body.entry ol table, .wlog-md-body.entry ol figure,
  .wlog-md-body.entry ol iframe,
  .wlog-md-body.entry ol section, .wlog-md-body.entry ol article, .wlog-md-body.entry ol header, .wlog-md-body.entry ol footer {
    margin-top: 0;
    margin-bottom: 0; }
  .wlog-md-body.entry > iframe {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px; }
  .wlog-md-body.entry > img,
  .wlog-md-body.entry > video {
    margin-top: 16px;
    margin-bottom: 16px;
    display: block; }
  .wlog-md-body.entry h1, .wlog-md-body.entry h2, .wlog-md-body.entry h3, .wlog-md-body.entry h4, .wlog-md-body.entry h5, .wlog-md-body.entry h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; }
    .wlog-md-body.entry h1:first-child, .wlog-md-body.entry h2:first-child, .wlog-md-body.entry h3:first-child, .wlog-md-body.entry h4:first-child, .wlog-md-body.entry h5:first-child, .wlog-md-body.entry h6:first-child {
      margin-top: 0; }
  .wlog-md-body.entry > h3, .wlog-md-body.entry > h4, .wlog-md-body.entry > h5, .wlog-md-body.entry > h6 {
    margin-top: 32px; }
  .wlog-md-body.entry > h1, .wlog-md-body.entry > h2 {
    margin-top: 64px; }
  .wlog-md-body.entry h1 + *, .wlog-md-body.entry h2 + *, .wlog-md-body.entry h3 + *, .wlog-md-body.entry h4 + *, .wlog-md-body.entry h5 + *, .wlog-md-body.entry h6 + * {
    margin-top: 0; }
  .wlog-md-body.entry h1, .wlog-md-body.entry h2, .wlog-md-body.entry h3, .wlog-md-body.entry h4, .wlog-md-body.entry h5, .wlog-md-body.entry h6 {
    font-weight: 300;
    color: #424b50;
    background-color: transparent; }
    .wlog-md-body.entry h1 a, .wlog-md-body.entry h2 a, .wlog-md-body.entry h3 a, .wlog-md-body.entry h4 a, .wlog-md-body.entry h5 a, .wlog-md-body.entry h6 a {
      color: #424b50; }
    .wlog-md-body.entry h1 a, .wlog-md-body.entry h1 em, .wlog-md-body.entry h1 u, .wlog-md-body.entry h1 abbr[title], .wlog-md-body.entry h2 a, .wlog-md-body.entry h2 em, .wlog-md-body.entry h2 u, .wlog-md-body.entry h2 abbr[title], .wlog-md-body.entry h3 a, .wlog-md-body.entry h3 em, .wlog-md-body.entry h3 u, .wlog-md-body.entry h3 abbr[title], .wlog-md-body.entry h4 a, .wlog-md-body.entry h4 em, .wlog-md-body.entry h4 u, .wlog-md-body.entry h4 abbr[title], .wlog-md-body.entry h5 a, .wlog-md-body.entry h5 em, .wlog-md-body.entry h5 u, .wlog-md-body.entry h5 abbr[title], .wlog-md-body.entry h6 a, .wlog-md-body.entry h6 em, .wlog-md-body.entry h6 u, .wlog-md-body.entry h6 abbr[title] {
      border-bottom-color: #424b50; }
  .wlog-md-body.entry h1 {
    font-size: 28px;
    line-height: 48px;
    text-align: center; }
  .wlog-md-body.entry h2 {
    font-size: 24px;
    line-height: 32px;
    text-align: left; }
  .wlog-md-body.entry h3 {
    font-size: 22px;
    line-height: 32px;
    text-align: left; }
  .wlog-md-body.entry h4, .wlog-md-body.entry h5, .wlog-md-body.entry h6 {
    line-height: 32px;
    font-size: 20px;
    text-align: left; }
  .wlog-md-body.entry blockquote {
    position: relative;
    padding: 0 0 0 13px;
    margin: 16px 0;
    font-family: Georgia, "Times New Roman", STKaiti, BiauKai, KaiTi, "DFKai-SB", "KaiTi-GB2312", serif;
    border-left: 5px solid #c3cace; }
  .wlog-md-body.entry li blockquote {
    margin-left: -21px; }
  .wlog-md-body.entry pre {
    padding: 15px 18px;
    line-height: 16px;
    font-size: 14px;
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
    font-family: consolas, manaco, monospace;
    border: 1px solid #E1E1E8;
    border-right: none;
    border-left: none;
    background-color: #F7F7F9; }
  .wlog-md-body.entry ul, .wlog-md-body.entry ol {
    padding-left: 36px; }
    .wlog-md-body.entry ul li, .wlog-md-body.entry ol li {
      margin: 0;
      padding: 0;
      list-style-position: outside; }
  .wlog-md-body.entry ul li {
    list-style-type: square; }
    .wlog-md-body.entry ul li ul li {
      list-style-type: disc; }
      .wlog-md-body.entry ul li ul li ul li {
        list-style-type: circle; }
  .wlog-md-body.entry ol li {
    list-style-type: decimal; }
    .wlog-md-body.entry ol li ol li {
      list-style-type: upper-roman; }
      .wlog-md-body.entry ol li ol li ol li {
        list-style-type: lower-roman; }
  .wlog-md-body.entry li > ul, .wlog-md-body.entry li > ol {
    padding-left: 36px; }
  .wlog-md-body.entry hr {
    position: relative;
    padding-top: 32px;
    margin-top: -2px;
    margin-bottom: 64px;
    height: 0;
    background: none;
    border: none;
    border-bottom: 2px dashed #888; }
    .wlog-md-body.entry hr:before, .wlog-md-body.entry hr:after {
      content: '';
      position: absolute;
      bottom: -2px;
      width: 30%;
      height: 2px;
      pointer-events: none; }
    .wlog-md-body.entry hr:before {
      left: 0;
      background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
      background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
      background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
      background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
      background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 80%, white 100%); }
    .wlog-md-body.entry hr:after {
      right: 0;
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
      background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
      background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
      background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
      background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 80%, white 100%); }
  .wlog-md-body.entry table {
    display: table;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 360px;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em; }
    .wlog-md-body.entry table caption {
      padding: 0; }
    .wlog-md-body.entry table thead th {
      text-align: left; }
    .wlog-md-body.entry table tbody {
      margin: 0 18px; }
      .wlog-md-body.entry table tbody tr:nth-child(odd) td, .wlog-md-body.entry table tbody tr:nth-child(odd) th {
        background-color: #F9F9F9; }
      .wlog-md-body.entry table tbody tr:last-child td, .wlog-md-body.entry table tbody tr:last-child th {
        padding-bottom: 6px; }
    .wlog-md-body.entry table td, .wlog-md-body.entry table th {
      padding: 8px 18px 7px;
      border: 1px solid #DDD; }
  .wlog-md-body.entry iframe {
    vertical-align: text-bottom; }
  .wlog-md-body.entry a {
    padding-bottom: 0.025em;
    color: #069;
    text-decoration: none;
    border-bottom-color: #0088cc; }
    .wlog-md-body.entry a:focus {
      outline: thin dotted; }
    .wlog-md-body.entry a:visited {
      color: #551A88;
      border-bottom-color: #551A88; }
    .wlog-md-body.entry a:hover {
      border-bottom-width: 1px;
      border-bottom-style: solid; }
    .wlog-md-body.entry a:hover, .wlog-md-body.entry a:active {
      outline: 0; }
  .wlog-md-body.entry b,
  .wlog-md-body.entry strong {
    font-weight: bold; }
  .wlog-md-body.entry u {
    padding-bottom: .05em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    border-bottom: 1px solid #8b98a0; }
  .wlog-md-body.entry u + u {
    margin-left: 0.125em; }
  .wlog-md-body.entry em {
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    -webkit-text-emphasis: filled circle;
    -moz-text-emphasis: filled circle;
    -ms-text-emphasis: filled circle;
    text-emphasis: filled circle;
    -webkit-text-emphasis-position: under;
    -moz-text-emphasis-position: under;
    -ms-text-emphasis-position: under;
    text-emphasis-position: under; }
  .wlog-md-body.entry code {
    font-family: monospace;
    font-size: inherit;
    color: #424b50;
    background-color: transparent; }
  .wlog-md-body.entry pre code {
    padding: 0;
    margin: 0;
    font-family: consolas, manaco, monospace;
    font-size: 14px;
    color: #424b50;
    background: none;
    border: none; }
  .wlog-md-body.entry img, .wlog-md-body.entry video {
    max-width: 100%;
    border: 0; }
  .wlog-md-body.entry figure img {
    display: block;
    margin: 0 auto; }
  .wlog-md-body.entry figure figcaption {
    display: block;
    text-align: center;
    font-style: italic; }
  .wlog-md-body.entry cite {
    font-style: inherit; }
    .wlog-md-body.entry cite:before, .wlog-md-body.entry cite:after {
      content: "\300A";
      line-height: inherit; }
    .wlog-md-body.entry cite:after {
      content: "\300B"; }
  .wlog-md-body.entry abbr[title] {
    padding-bottom: 0.05em;
    cursor: help;
    border-bottom: 1px dotted #424b50; }
  .wlog-md-body.entry dfn {
    font-style: italic; }
  .wlog-md-body.entry mark {
    background: yellow;
    color: #424b50; }
  .wlog-md-body.entry q {
    quotes: "\201C" "\201D" "\2018" "\2019"; }
  .wlog-md-body.entry small {
    font-size: 80%; }
  .wlog-md-body.entry sub, .wlog-md-body.entry sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .wlog-md-body.entry sup {
    top: -0.5em; }
  .wlog-md-body.entry sub {
    bottom: -0.25em; }
  .wlog-md-body.entry #disqus_thread {
    margin-top: 32px; }

@media screen and (max-width: 1024px) {
  .wlog-app-header {
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); }
    .wlog-app-header .home {
      cursor: pointer;
      display: flex;
      position: relative;
      align-items: center; }
      .wlog-app-header .home .logo {
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 50%; }
        .wlog-app-header .home .logo img {
          max-width: 100%; }
  .wlog-app-nav {
    left: -300px;
    background: #FFFFFF;
    border-right: none; }
    .wlog-app-nav.showing {
      left: 0px; }
  .wlog-app-body {
    margin-left: 0; }
  .wlog-body__inner {
    padding: 100px 16px 0;
    max-width: 768px; } }

@media screen and (max-height: 500px) {
  .wlog-app-nav {
    width: 50vw;
    left: -50vw; }
    .wlog-app-nav.showing {
      left: 0vw; }
    .wlog-app-nav .app-nav__inner {
      width: 100%;
      padding: 0 12px; }
    .wlog-app-nav .nav-item__top .web-name {
      display: none; }
    .wlog-app-nav .nav-item__top p {
      display: none; }
  .wlog-body__content .wlog-body-article {
    height: 40vh; } }

@media screen and (max-width: 600px) {
  .wlog-nav hr {
    margin: 14px auto; }
  .wlog-nav .slide-nav__content {
    padding-left: 12px;
    padding-right: 12px; }
  .wlog-nav .top .avatar {
    width: 48px;
    height: 48px;
    margin-bottom: 12px; }
    .wlog-nav .top .avatar img {
      width: 44px;
      height: 44px; }
  .wlog-nav .middle li {
    text-align: left;
    padding-left: 20px; }
    .wlog-nav .middle li.active::after {
      left: 0;
      margin-left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border: none;
      background: #2F8ED8; }
  .wlog-nav .bottom {
    width: 276px; }
  .wlog-body__content .wlog-body-article .article-content .title {
    font-size: 1.25rem; }
  .wlog-post__thumbnail {
    padding-bottom: 56.25%; }
  .wlog-post__info .post-title h1 {
    font-size: 1.5rem;
    line-height: 1.3; }
  .footer .footer__bottom {
    flex-direction: column; }
  .wlog-md-body > *, .wlog-md-body {
    font-size: 16px;
    line-height: 1.7; } }
