/* en */
@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 100;
    src: url('/webfonts/en/Roboto-Thin.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 300;
    src: url('/webfonts/en/Roboto-Light.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/webfonts/en/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/webfonts/en/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 900;
    src: url('/webfonts/en/Roboto-Bold.woff') format('woff');
}
@font-face {
    font-family: 'caveat';
    font-style: normal;
    font-weight: 500;
    src: url('/webfonts/en/Caveat-Regular.woff') format('woff');
}

/* ch */
@font-face {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 100;
    src: url('/webfonts/ch/PingFangSC-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 300;
    src: url('/webfonts/ch/PingFangSC-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    src: url('/webfonts/ch/PingFangSC-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 700;
    src: url('/webfonts/ch/PingFangSC-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 900;
    src: url('/webfonts/ch/PingFangSC-Semibold.woff2') format('woff');
}
/* jp */
@font-face {
    font-family: 'Apple TP';
    font-style: normal;
    font-weight: 300;
    src: url('/webfonts/jp/apple-tp_thin.woff') format('woff');
}
@font-face {
    font-family: 'Apple TP';
    font-style: normal;
    font-weight: 500;
    src: url('/webfonts/jp/apple-tp_text.woff') format('woff');
}