@import url(/css/fonts.css);@import url(/backend/styles/layout.css);@keyframes loading {
  0%, 100% {
    height: 20px;
    background: #1E2432; }
  50% {
    height: 40px;
    background: #2b8af5; } }

@-moz-keyframes loading {
  0%, 100% {
    height: 20px;
    background: #1E2432; }
  50% {
    height: 40px;
    background: #2b8af5; } }

@-webkit-keyframes loading {
  0%, 100% {
    height: 20px;
    background: #1E2432; }
  50% {
    height: 40px;
    background: #2b8af5; } }

html, body {
  font-size: 16px;
  font-family: 'roboto', 'PingFang SC', 'Apple TP', sans-serif;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  transition-duration: .15s;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box; }

a, a:hover {
  text-decoration: none; }

button, input, select, textarea {
  outline: none; }

h1 {
  font-size: 6em;
  font-weight: 300;
  letter-spacing: -1.5px;
  text-transform: capitalize;
  color: #1E2432; }

h2 {
  font-size: 3.75em;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color: #1E2432; }

h3 {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #1E2432; }

h4 {
  font-size: 2.125em;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  color: #1E2432; }

h5 {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #1E2432; }

h6 {
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 0.15px;
  text-transform: capitalize;
  color: #1E2432; }

p.body-1 {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #1E2432; }

p.body-2 {
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  color: #1E2432; }

ul, li {
  list-style: none; }

body {
  font-family: 'Roboto';
  font-weight: 500;
  margin: 0;
  padding-top: 0.1px; }

.wlog-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #1E2432;
  position: relative;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: .75px;
  text-transform: uppercase;
  border-radius: 50%;
  border: none;
  background: none; }
  .wlog-button em, .wlog-button i {
    position: relative;
    z-index: 2; }
  .wlog-button::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    transform: scale(0);
    transition-duration: .15s;
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1; }
  .wlog-button.wlog-button-small:not(.wlog-button-rect) {
    width: 36px;
    height: 36px; }
  .wlog-button.wlog-button-regular:not(.wlog-button-rect) {
    width: 48px;
    height: 48px; }
  .wlog-button.disabled {
    cursor: none;
    pointer-events: none;
    opacity: 0.3; }
  .wlog-button:hover::before {
    transform: scale(1); }

.wlog-input-file-btn {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  background-color: transparent;
  opacity: 0;
  z-index: 10000; }

.wlog-button-rect {
  cursor: pointer;
  background: #2b8af5;
  padding: 8px 14px;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 2px 1px;
  border: none;
  color: #ffffff;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: .75px;
  text-transform: uppercase;
  position: relative; }
  .wlog-button-rect.loading {
    cursor: none;
    pointer-events: none;
    opacity: 0.2;
    position: relative; }
  .wlog-button-rect.disabled {
    cursor: none;
    pointer-events: none;
    opacity: 0.3; }

.layout-table {
  padding: 12px 0; }
  .layout-table .layout-table__action {
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #999999; }
  .layout-table .layout-table__datatable {
    width: 100%;
    border-collapse: collapse; }
    .layout-table .layout-table__datatable thead {
      border-bottom: 2px solid #888888; }
      .layout-table .layout-table__datatable thead tr {
        background-color: #ECEFF1; }
      .layout-table .layout-table__datatable thead th {
        line-height: 2.5;
        height: 22px;
        color: #999999;
        text-transform: uppercase;
        font-size: 0.875em;
        font-weight: 700; }
    .layout-table .layout-table__datatable tbody tr {
      background-color: #FFFFFF;
      border-bottom: 1px solid #DCDCDC; }
      .layout-table .layout-table__datatable tbody tr:hover {
        background-color: #EFEFEF; }
    .layout-table .layout-table__datatable tbody td {
      line-height: 3.5;
      height: 32px;
      font-size: 1em;
      font-weight: 300;
      color: #666666; }
      .layout-table .layout-table__datatable tbody td a {
        font-size: inherit;
        color: inherit; }
        .layout-table .layout-table__datatable tbody td a:hover {
          color: #2b8af5; }
      .layout-table .layout-table__datatable tbody td input[type="checkbox"] {
        width: 18px;
        height: 18px; }
      .layout-table .layout-table__datatable tbody td.buttons-area {
        flex-wrap: wrap; }
        .layout-table .layout-table__datatable tbody td.buttons-area .wlog-button {
          display: inline-flex;
          border: none;
          vertical-align: middle;
          background: none;
          color: #999999; }
    .layout-table .layout-table__datatable th, .layout-table .layout-table__datatable td {
      border-collapse: collapse;
      text-align: left;
      padding-left: 12px;
      padding-right: 12px; }

.home .wlog-drawer {
  background-color: #3D424C; }

.home .wlog-header {
  background-color: #1E2432; }
  .home .wlog-header span {
    color: #ffffff;
    font-size: 0.875em; }

.home .wlog-drawer__content .layout-drawer-list__item {
  font-size: 1em;
  line-height: 2;
  color: #ffffff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  .home .wlog-drawer__content .layout-drawer-list__item em, .home .wlog-drawer__content .layout-drawer-list__item i {
    font-size: 0.875em; }
  .home .wlog-drawer__content .layout-drawer-list__item:hover, .home .wlog-drawer__content .layout-drawer-list__item.active {
    background-color: #ffffff;
    color: #2b8af5;
    border-top-color: #3D424C;
    border-bottom-color: #3D424C; }

.home .wlog-drawer__content .wlog-drawer__group {
  font-size: 1.125em;
  color: #ffffff; }

.home .wlog-body {
  background-color: #E7E9EC; }
  .home .wlog-body .wlog-body-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: rgba(0, 0, 0, 0.04) 0 0 2px 1px; }
    .home .wlog-body .wlog-body-header .wlog-body-header__left a {
      color: #1E2432;
      font-weight: 700; }
      .home .wlog-body .wlog-body-header .wlog-body-header__left a:hover {
        color: #2b8af5; }
  .home .wlog-body .wlog-body-main .wlog-card {
    background-color: #FFFFFF;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: rgba(0, 0, 0, 0.04) 0 0 2px 1px; }
  .home .wlog-body .wlog-body-main .wlog-card-form {
    border-radius: 0.5em;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.04) 0 0 4px 1px; }
    .home .wlog-body .wlog-body-main .wlog-card-form .wlog-card-input {
      border-radius: 0.5em;
      border: 1px solid rgba(0, 0, 0, 0.15); }
      .home .wlog-body .wlog-body-main .wlog-card-form .wlog-card-input input {
        text-indent: 8px;
        font-weight: 700;
        color: #666666; }
  .home .wlog-body .wlog-body-main .wlog-table .wlog-table__action .wlog-table-action-input {
    width: 240px;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    height: 32px;
    padding: 0 8px;
    align-items: center;
    overflow: hidden; }
    .home .wlog-body .wlog-body-main .wlog-table .wlog-table__action .wlog-table-action-input i, .home .wlog-body .wlog-body-main .wlog-table .wlog-table__action .wlog-table-action-input em {
      display: inline-flex;
      color: #999999; }
    .home .wlog-body .wlog-body-main .wlog-table .wlog-table__action .wlog-table-action-input input {
      display: block;
      border: none;
      width: 100%;
      height: 100%;
      text-indent: 8px;
      font-weight: 700;
      color: #666666; }
  .home .wlog-body .wlog-meta-card__list .wlog-meta-card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.04) 0 0 2px 1px;
    border-radius: 0.5em; }
    .home .wlog-body .wlog-meta-card__list .wlog-meta-card ul li i, .home .wlog-body .wlog-meta-card__list .wlog-meta-card ul li em, .home .wlog-body .wlog-meta-card__list .wlog-meta-card ul li span {
      color: #1E2432;
      font-size: 0.75em; }
    .home .wlog-body .wlog-meta-card__list .wlog-meta-card ul li a {
      color: #2b8af5;
      font-size: 0.875em; }

.home .wlog-writing-area .wlog-writing__header {
  background-color: #1E2432;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05); }
  .home .wlog-writing-area .wlog-writing__header .wlog-button {
    color: #ffffff; }
    .home .wlog-writing-area .wlog-writing__header .wlog-button.active {
      background-color: #FFFFFF;
      color: #1E2432; }

.home .wlog-form-panel {
  background-color: #FFFFFF;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 1px; }
  .home .wlog-form-panel fieldset {
    border: none; }
  .home .wlog-form-panel .cover-container {
    background-color: #e0e0e0;
    color: #606060; }
    .home .wlog-form-panel .cover-container .default-item i {
      font-size: 8em; }
    .home .wlog-form-panel .cover-container .default-item .icon {
      font-size: 1em;
      margin-bottom: 0; }
  .home .wlog-form-panel .wlog-control {
    border-radius: 0.5em;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.04) 1px 1px 2px 0;
    border: 1px solid rgba(0, 0, 0, 0.125); }
    .home .wlog-form-panel .wlog-control label {
      font-size: 0.875em;
      padding-right: 8px;
      border-right: 1px solid #EEEEEE;
      text-transform: uppercase; }
    .home .wlog-form-panel .wlog-control input {
      text-indent: 4px;
      font-size: 0.875em;
      font-weight: 700;
      color: #888888;
      outline: none; }
    .home .wlog-form-panel .wlog-control textarea {
      color: #888888;
      font-size: 1em;
      font-weight: 700;
      resize: none; }

.home .wlog-sidebar-menu {
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.04) -1px 0 4px 1px;
  border-left: 1.5px solid #1E2432; }
  .home .wlog-sidebar-menu .images-folder {
    border-bottom: 1px solid #EEEEEE; }
    .home .wlog-sidebar-menu .images-folder .image-list-card {
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 1px;
      border: 0.5em; }
      .home .wlog-sidebar-menu .images-folder .image-list-card .hidden-oper {
        background: rgba(255, 255, 255, 0.6);
        transform: translateY(-100%); }
        .home .wlog-sidebar-menu .images-folder .image-list-card .hidden-oper button {
          font-size: 0.75em;
          font-weight: 700;
          border: none;
          box-shadow: none;
          outline: none;
          background: transparent; }
          .home .wlog-sidebar-menu .images-folder .image-list-card .hidden-oper button:hover {
            background: rgba(38, 134, 243, 0.6);
            color: #ffffff; }
      .home .wlog-sidebar-menu .images-folder .image-list-card:hover .hidden-oper {
        transform: translateY(0%); }

.home .wlog-tabs nav.layout-tabs__container span.wlog__indicator {
  background-color: #DDDDDD; }

.home .wlog-tabs nav.layout-tabs__container .wlog-tab {
  color: #1E2432;
  font-size: 1em; }
  .home .wlog-tabs nav.layout-tabs__container .wlog-tab::before {
    background: rgba(0, 0, 0, 0.02);
    transform: scale(0);
    transition: 200ms; }
  .home .wlog-tabs nav.layout-tabs__container .wlog-tab.wlog-tab--active, .home .wlog-tabs nav.layout-tabs__container .wlog-tab:hover {
    color: #2b8af5; }
    .home .wlog-tabs nav.layout-tabs__container .wlog-tab.wlog-tab--active::before, .home .wlog-tabs nav.layout-tabs__container .wlog-tab:hover::before {
      transform: scale(1); }

.home .wlog-tab-panels .layout-tab-panels__container {
  transform: translate3d(0, 0, 0);
  transition: 300ms; }

.home .wlog-form-list .subjects-list .wlog-flex-table {
  border-radius: 0.5em;
  background-color: #EFEFEF; }
  .home .wlog-form-list .subjects-list .wlog-flex-table .flex-table__header {
    background-color: #ECEFF1;
    border-bottom: 2px solid #888888;
    border-radius: 0.5em 0.5em 0 0; }
    .home .wlog-form-list .subjects-list .wlog-flex-table .flex-table__header span {
      font-size: 0.875em;
      font-weight: 700;
      color: #999999; }
  .home .wlog-form-list .subjects-list .wlog-flex-table .flex-table__body span {
    font-size: 1em;
    font-weight: 300;
    color: #666666;
    border-bottom: 1px solid #DCDCDC; }
  .home .wlog-form-list .subjects-list .wlog-flex-table .flex-table__body .flex-table__input {
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.04) 0 0 2px 1px;
    border: none;
    text-indent: 4px;
    font-size: 0.875em;
    color: #888888;
    font-weight: 700; }
  .home .wlog-form-list .subjects-list .wlog-flex-table .flex-table__body .operate button {
    font-size: 0.75em; }

.home .wlog-cus-select label {
  padding: 4px 8px;
  border-radius: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #FFFFFF; }
  .home .wlog-cus-select label .default {
    line-height: 24px; }

.home .wlog-cus-select .select {
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 0.25em; }
  .home .wlog-cus-select .select .select-item {
    color: #999999; }
    .home .wlog-cus-select .select .select-item:hover {
      background-color: #2b8af5;
      color: #FFFFFF; }

.home .wlog-logos-upload .wlog-upload-item {
  border-radius: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 1px; }
  .home .wlog-logos-upload .wlog-upload-item .flex-form {
    border-radius: 0.25em;
    border: 1px solid #EEEEEE; }

.wlog-cover {
  background: rgba(0, 0, 0, 0.3); }

.wlog-progress {
  background: rgba(255, 255, 255, 0.5); }
  .wlog-progress span {
    background: #1E2426;
    animation: loading 1s ease infinite;
    -webkit-animation: loading 1s ease infinite;
    -moz-animation: loading 1s ease infinite;
    border-radius: 4px; }
    .wlog-progress span:nth-child(2) {
      animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s; }
    .wlog-progress span:nth-child(3) {
      animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -webkit-animation-delay: 0.4s; }
    .wlog-progress span:nth-child(4) {
      animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      -webkit-animation-delay: 0.6s; }
    .wlog-progress span:nth-child(5) {
      animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      -webkit-animation-delay: 0.8s; }

header.wlog-tool__header .tool-bar__inner .search {
  border-radius: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0;
  color: #999;
  background-color: #FFFFFF; }
  header.wlog-tool__header .tool-bar__inner .search input {
    text-indent: 4px;
    font-size: 0.875em;
    font-weight: 700;
    color: #999;
    border: none; }

header.wlog-tool__header .tool-bar__inner .buttons-area button.focus {
  background-color: #FFFFFF;
  color: #000000; }

header.wlog-tool__header .tool-bar__inner .buttons-area .wlog-delete-confirm {
  background-color: #E74F4F;
  color: #FFFFFF; }

.wlog-floating-area .wlog-floating {
  background-color: #fff;
  border: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; }

.wlog-floating-area .list-table ul li, .wlog-floating-area .progress-table ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.wlog-floating-area .list-table ul span, .wlog-floating-area .progress-table ul span {
  font-size: 0.75em;
  font-weight: 300; }

.wlog-files .wlog-img__list .wlog-img__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em; }
  .wlog-files .wlog-img__list .wlog-img__item .info p {
    font-size: 0.75em;
    font-weight: 300;
    text-align: center; }

.wlog-message {
  background-color: #FFF;
  border-radius: 0.5em 0.5em 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 6px 1px;
  transform: translateY(50px); }
  .wlog-message.showing {
    transform: translateY(0px); }
  .wlog-message .message__header button {
    background: transparent;
    border: none;
    font-size: 12px;
    cursor: pointer; }
  .wlog-message .message__inner span {
    font-size: 1em;
    font-weight: 300; }

.wlog-alert {
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 8px 1px;
  border: 1px solid #FFCDCD;
  background-color: #FFFBFB; }
  .wlog-alert .wlog-alert__inner {
    font-size: 1.125em;
    color: #FB4A4A; }

.wlog-table__footer .wlog-page-item {
  font-size: 0.875em; }

.wlog-table__footer .wlog-page-button {
  border-radius: 0.75em;
  border: 1px solid #DBDBDB;
  color: #4A4A4A;
  background-color: #FFF;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.08); }
  .wlog-table__footer .wlog-page-button:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 2px 2px 8px 2px; }
